* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-color: rgba(191, 210, 252, 0.5);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500, 700, 900;
}

.main {
  width: 450px;
  height: 700px;
  background-color: white;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
}

#image1 {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.body {
  text-align: center;
}

h2 {
  padding-top: 30px;
}

p {
  font-size: 16px;
}

#main_para {
  padding: 20px 0;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.5;
}

.order_plan {
  color: hsl(223, 47%, 23%);
}

.para {
  color: hsl(224, 23%, 55%);
  font-size: 16px;
}

.subscription {
  background: hsl(225, 100%, 98%);
  text-align: center;
  width: 80%;
  display: flex;
  margin-left: 10%;
  padding: 15px;
  border-radius: 10px;
}

#image2 {
  padding: 6px;
  margin-top: 5px;
}

.order {
  padding: 10px 10px 10px 10px;
  height: 50%;
}

#reverse {
  margin: auto;
  padding-left: 85px;
}

a {
  color: rgb(64, 64, 192);
}

a :hover {
  color: rgb(114, 76, 252);
}

#plan {
  padding-bottom: 5px;
}

#btn {
  height: 50px;
  background: hsl(245, 75%, 52%);
  border: none;
  border-radius: 10px;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  color: white;
  box-shadow: 0 20px 25px 8px hsl(240, 70%, 94%);
}

#button :hover {
  background-color: rgb(114, 76, 252);
  cursor: pointer;
}

#cancel {
  text-align: center;
  margin-top: 35px;
}

#cancel :hover {
  color: hsl(223, 47%, 23%);
  cursor: pointer;
}

.attribution {
  font-size: 15px;
  text-align: center;
  margin-top: 65px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  body {
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 30%;
    background-color: rgba(191, 210, 252, 0.5);
  }

  .main {
    width: 330px;
    height: 570px;
    background-color: white;
    margin: auto;
    margin-top: 65px;
    border-radius: 20px;
  }

  .hero {
    width: 100%;
  }
  .subscription {
    background: hsl(225, 100%, 98%);
    text-align: center;
    width: 85%;
    display: flex;
    margin-left: 7.5%;
    padding: 10px;
    border-radius: 10px;
  }

  h2 {
    padding-top: 25px;
  }

  #main_para {
    padding: 20px 0;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
  }

  #image2 {
    padding: 6px;
  }

  .order {
    padding: 10px 20px 10px 5px;
    height: 50%;
  }

  #reverse {
    margin: auto;
    padding-left: 20px;
  }

  #btn {
    height: 50px;
    background: hsl(245, 75%, 52%);
    width: 85%;
    margin-left: 7.5%;
    font-size: 16px;
  }

  .attribution {
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
  }
}
